schema/messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="messages">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="message_id" type="xs:ID"/>
                            <xs:element name="sender_id" type="xs:IDREF"/>
                            <xs:choice>
                                <xs:element name="recipient" type="xs:IDREF" maxOccurs="unbounded"/>
                                <xs:element name="recipient_group" type="xs:IDREF"/>
                            </xs:choice>

                            <xs:element name="content" type="xs:string"/>
                            <xs:element name="file" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                            <xs:element name="read_by" type="xs:IDREFS" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="timestamp" type="xs:dateTime" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema> 